doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title MY APP
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
		link(rel='stylesheet', href='css/custom.css')

	body
		h1 Hello #{username}
		form(action='/submitpost', method='POST')
			input(type='text', placeholder='Type your post here...', name='post')
			button(type='submit') Submit
		br
		a(href="http://localhost:3000/logout") Logout and return home
		br
		ul(style='float: left')
			if blogpost
				each post in blogpost
					li=username + " says:"
					li=post.blogpost
					form(action='/submitcomment', method='POST')
						input(type='text', name='id', value="#{post.id}", hidden)
						input(type='text', placeholder='Type your comment here...', name='comment')
						button(type='submit') Submit
					br
		ul(style='float: left')
			if allposts
				each post in allposts
					li=post.user.username + " says:"
					li=post.blogpost
					each comment in post.comments
						li=comment.user.username + " says: " + comment.commentpost

					form(action='/submitcomment', method='POST')
						input(type='text', name='id', value="#{post.id}", hidden)
						input(type='text', placeholder='Type your comment here...', name='comment')
						button(type='submit') Submit
					br
	script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
		